<mat-card>
    <mat-card-title>Alterar Voluntário</mat-card-title>
<form>
    <mat-form-field>
        <input matInput placeholder="nome:" [(ngModel)]="hospitais.nome" name="nome" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="visita:" [(ngModel)]="hospitais.diasVisita" name="visita" > 
    </mat-form-field>
</form>

<div>
<button mat-raised-button (click)="updateHospitais()" color="primary">
    Atualizar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
</div>
</mat-card>