.mat-mdc-option .mdc-list-item__primary-text {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mat-mdc-select .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow,
.mat-mdc-select .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow svg {
  width: 1.5rem;
  height: 1.5rem;
}

.mat-mdc-option .mat-pseudo-checkbox-full {
  margin-right: 1rem;
}
.mat-mdc-option .mat-pseudo-checkbox-full.mat-pseudo-checkbox {
  width: 1.125rem;
  height: 1.125rem;
}

.mat-mdc-option .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after {
  width: 0.625rem;
  height: 0.25rem;
}
