.indicator-card {
    height: 100%;
}

.indicador-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.content-value {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.content-title {
    font-size: 1.2rem;
    text-align: center;
}