<mat-card>
  <mat-card-title>Excluir Voluntário</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Nome"
        [value]="voluntarios.nome"
        name="nome"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        type="email"
        placeholder="Email"
        [value]="voluntarios.email"
        name="email"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Celular"
        [value]="voluntarios.celular | mask: '(00) 00000-0000'"
        name="celular"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Observação"
        [value]="voluntarios.observacao"
        name="observacao"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        type="text"
        placeholder="Login"
        [value]="voluntarios.login"
        name="login"
        disabled
      />
    </mat-form-field>

  </form>

  <div>
    <button mat-raised-button (click)="deleteVoluntarios()" color="warn">
      Excluir
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
