<mat-card class="dp-card">
  <mat-card-title>Excluir Voluntário</mat-card-title>
  <form class="dp-form">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        placeholder="Nome"
        [value]="voluntarios.nome"
        name="nome"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        type="email"
        placeholder="Email"
        [value]="voluntarios.email"
        name="email"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Celular</mat-label>
      <input
        matInput
        type="text"
        placeholder="Celular"
        [value]="voluntarios.celular | mask : '(00) 00000-0000'"
        name="celular"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observação</mat-label>
      <input
        matInput
        type="text"
        placeholder="Observação"
        [value]="voluntarios.observacao"
        name="observacao"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Login</mat-label>
      <input
        matInput
        type="text"
        type="text"
        placeholder="Login"
        [value]="voluntarios.login"
        name="login"
        disabled
      />
    </mat-form-field>
  </form>

  <div class="dp-form-acoes">
    <button
      class="dp-btn-alert"
      mat-raised-button
      (click)="deleteVoluntarios()"
    >
      Excluir
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
