<mat-card>
    <mat-card-title>Excluir Voluntário</mat-card-title>
<form>
    <mat-form-field>
        <input matInput placeholder="Nome" [value]="voluntarios.nome" name="nome" disabled="">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Celular" [value]="voluntarios.celular" name="celular" disabled=""> 
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Data Nascimento" [value]="voluntarios.data_nascimento" name="nascimento" disabled=""> 
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cidade" [value]="voluntarios.cidade" name="cidade" disabled=""> 
    </mat-form-field>
</form>

<div>
<button mat-raised-button (click)="deleteVoluntarios()" color="warn">
    Excluir
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
</div>
</mat-card>