.header {
  display: flex;
  align-items: center;
  padding-left: 0;
  font-size: inherit;
  height: fit-content;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header .title-group {
  display: inline-block;
  padding: 1.5625rem;
  font-size: 1.375rem;
}

.header .title-group i {
  padding-right: 0.3rem;
  font-size: 1.7rem;
}
