<mat-card>
  <mat-card-title>Alterar Voluntário</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Nome"
        [(ngModel)]="voluntarios.nome"
        required
        name="nome"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email:"
        [(ngModel)]="voluntarios.email"
        required
        name="email"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        mask="(00) 00000-0000"
        [showMaskTyped]="true"
        placeholder="Celular:"
        [(ngModel)]="voluntarios.celular"
        required
        name="celular"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Observação:"
        [(ngModel)]="voluntarios.observacao"
        required
        name="observacao"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Login:"
        [(ngModel)]="voluntarios.login"
        required
        name="login"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="voluntarios.role" required name="tipo">
        <mat-option [value]="roles.ADMIN">Administrador</mat-option>
        <mat-option [value]="roles.USER">Usuário</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div>
    <button mat-raised-button (click)="updateVoluntarios()" color="primary">
      Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
