<mat-card>
  <mat-card-title>Alterar Voluntário</mat-card-title>
  <form #voluntarioForm="ngForm">
    <mat-form-field>
      <input
        #nome="ngModel"
        matInput
        type="text"
        placeholder="Nome"
        [(ngModel)]="voluntarios.nome"
        required
        name="nome"
      />
      <mat-error *ngIf="nome.hasError('required')">É necessário preencher o nome do voluntário</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        #email="ngModel"
        matInput
        type="email"
        placeholder="Email:"
        [(ngModel)]="voluntarios.email"
        required
        name="email"
      />
      <mat-error *ngIf="email.hasError('required')">É necessário preencher o email do voluntário.</mat-error>
      <mat-error *ngIf="email.hasError('email')">Formato de email inválido.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        #celular="ngModel"
        matInput
        type="text"
        mask="(00) 00000-0000"
        [showMaskTyped]="true"
        placeholder="Celular:"
        [(ngModel)]="voluntarios.celular"
        required
        name="celular"
      />
      <mat-error *ngIf="celular.hasError('required')">É necessário preencher o celular do voluntário.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Observação:"
        [(ngModel)]="voluntarios.observacao"
        name="observacao"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        #login="ngModel"
        matInput
        type="text"
        placeholder="Login:"
        [(ngModel)]="voluntarios.login"
        required
        name="login"
      />
      <mat-error *ngIf="login.hasError('required')">É necessário preencher o login do voluntário.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select #role="ngModel" [(ngModel)]="voluntarios.role" required name="tipo">
        <mat-option [value]="roles.ADMIN">Administrador</mat-option>
        <mat-option [value]="roles.USER">Usuário</mat-option>
      </mat-select>
      <mat-error *ngIf="role.hasError('required')">É necessário preencher o tipo do voluntário.</mat-error>
    </mat-form-field>
  </form>

  <div>
    <button mat-raised-button [disabled]="voluntarioForm.invalid" (click)="updateVoluntarios()" color="primary">
      Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
