<div class="simple-indicators-container">
  <app-simple-indicator
    id="qtdeEntidadesVisitadas"
    [value]="qtdeEntidadesVisitadas$ | async"
    [loading]="qtdeEntidadesVisitadasLoading()"
    valueIfNull="-"
    title="Quantidade de entidades visitadas"
  ></app-simple-indicator>
  <app-simple-indicator
    id="qtdeParticipantesVisitas"
    [value]="qtdeParticipantesVisitas$ | async"
    [loading]="qtdeParticipantesVisitasLoading()"
    valueIfNull="-"
    title="Voluntários participantes das visitas"
  ></app-simple-indicator>
  <app-simple-indicator
    id="qtdeNaoParticipantesVisitas"
    [value]="qtdeNaoParticipantesVisitas$ | async"
    [loading]="qtdeNaoParticipantesVisitasLoading()"
    valueIfNull="-"
    title="Voluntários não participantes das visitas"
  ></app-simple-indicator>
  <app-simple-indicator
    id="taxaParticipacao"
    [value]="taxaParticipacao$ | async | percent: '.2' : 'pt-br'"
    [loading]="taxaParticipacaoLoading()"
    valueIfNull="-"
    title="Taxa de participação"
  ></app-simple-indicator>
  <app-simple-indicator
    id="horasVisitas"
    [value]="horasVisitas$ | async | msParaHhmmss"
    [loading]="horasVisitasLoading()"
    valueIfNull="-"
    title="Horas de visitas"
  ></app-simple-indicator>
</div>

<div class="chart-indicators-container">
  <app-chart-bar-indicator
    title="Visitas por entidade"
    [value]="visitasPorEntidade$ | async"
    [loading]="visitasPorEntidadeLoading()"
    [orientation]="chartBarOrientation.HORIZONTAL"
  ></app-chart-bar-indicator>

  <app-chart-bar-indicator
    title="Visitas por voluntário"
    [value]="visitasPorVoluntario$ | async"
    [loading]="visitasPorVoluntarioLoading()"
    [orientation]="chartBarOrientation.HORIZONTAL"
  ></app-chart-bar-indicator>

  <app-chart-line-indicator
    title="Visitas acumuladas por dia nos últimos 3 meses"
    [value]="visitasAcumuladasPorDiaUltimosMeses$ | async"
    [loading]="visitasAcumuladasPorDiaUltimosMesesLoading()"
    [callbacks]="visitasAcumuladasPorDiaUltimosMesesCallbacks"
  ></app-chart-line-indicator>

  <app-chart-bar-indicator
    title="Visitas por dia da semana"
    [value]="visitasPorDiaDaSemana$ | async"
    [loading]="visitasPorDiaDaSemanaLoading()"
    [orientation]="chartBarOrientation.VERTICAL"
  ></app-chart-bar-indicator>
</div>
