<mat-card>
  <mat-card-title>Novo Voluntário</mat-card-title>
  <form #voluntarioForm="ngForm">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input
        #nome="ngModel"
        matInput
        type="text"
        placeholder="Nome"
        [(ngModel)]="voluntarios.nome"
        required
        name="nome"
      />
      <mat-error *ngIf="nome.hasError('required')">É necessário preencher o nome do voluntário.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        #email="ngModel"
        matInput
        type="email"
        placeholder="Email"
        [(ngModel)]="voluntarios.email"
        required
        email
        name="email"
      />
      <mat-error *ngIf="email.hasError('required')">É necessário preencher o email do voluntário.</mat-error>
      <mat-error *ngIf="email.hasError('email')">Formato de email inválido.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Celular</mat-label>
      <input
        #celular="ngModel"
        matInput
        type="text"
        mask="(00) 00000-0000"
        [showMaskTyped]="true"
        [(ngModel)]="voluntarios.celular"
        required
        name="celular"
      />
      <mat-error *ngIf="celular.hasError('required')">É necessário preencher o celular do voluntário.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observação</mat-label>
      <input
        matInput
        type="text"
        placeholder="Observação"
        [(ngModel)]="voluntarios.observacao"
        name="observacao"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Login</mat-label>
      <input
        #login="ngModel"
        matInput
        type="text"
        placeholder="Login"
        [(ngModel)]="voluntarios.login"
        required
        name="login"
      />
      <mat-error *ngIf="login.hasError('required')">É necessário preencher o login do voluntário.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input
        #senha="ngModel"
        matInput
        type="password"
        placeholder="Senha"
        [(ngModel)]="voluntarios.senha"
        required
        name="senha"
        minlength="6"
      />
      <mat-error *ngIf="senha.hasError('required')">É necessário preencher a senha do voluntário.</mat-error>
      <mat-error *ngIf="senha.hasError('minlength')">A senha deve conter no mínimo 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select #role="ngModel" [(ngModel)]="voluntarios.role" required name="tipo">
        <mat-option [value]="roles.ADMIN">Administrador</mat-option>
        <mat-option [value]="roles.USER">Usuário</mat-option>
      </mat-select>
      <mat-error *ngIf="role.hasError('required')">É necessário preencher o tipo do voluntário.</mat-error>
    </mat-form-field>

  </form>
  
  <div>
    <button mat-raised-button [disabled]="voluntarioForm.invalid" (click)="createVoluntarios()" color="primary">
      Salvar
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
