<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                <span>Inicio</span>
            </a>
            <a mat-list-item routerLink="/voluntarios">
                <i class="material-icons">
                    volunteer_activism
                </i>
                <span>Voluntários</span>
            </a>
            <a mat-list-item routerLink="/entidades">
                <i class="material-icons">
                    local_hospital
                </i>
                <span>Entidades</span>
            </a>
            <a mat-list-item routerLink="/agendamentos">
                <i class="material-icons">
                    calendar_today 
                </i>
                <span>Agendamentos</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>