.sidenav {
  background-color: #3f51b5;
  min-width: 200px;
}

.sidenav a i {
  color: #fff;
}

.sidenav a span {
  color: #fff;
}

.sidenav i {
  padding-right: 0.625rem;
}

.content {
  padding: 1rem;
  background-color: #fff;
}

::ng-deep mat-sidenav.sidenav {
  /* Tenta alcançar o pai com a classe */
  background-color: #3f51b5;
  width: fit-content; /* Sua largura desejada */
}

/* Estilos para a lista de navegação e seus itens */
.nav-list {
  /* Se precisar de estilos específicos para a lista */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
}

.nav-list a {
  /* Estiliza os links dentro da lista */
  /* Adiciona display flex para alinhar ícone e texto */
  display: flex;
  align-items: center;
  /* Remove sublinhado padrão se houver */
  text-decoration: none;
  /* Outros estilos para o link como padding, hover, etc. */
  padding: 0.625rem 1rem; /* Exemplo de espaçamento */
  transition: background-color 0.2s ease-in-out;
}

.nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efeito hover leve */
}

.nav-list a i {
  /* Estiliza os ícones dentro dos links */
  color: #fff;
  padding-right: 0.6rem; /* Aumentei um pouco o padding */
  vertical-align: middle; /* Garante alinhamento vertical */
  font-size: 1.5rem;
}

.nav-list a span {
  /* Estiliza o texto dentro dos links */
  color: #fff;
  vertical-align: middle; /* Garante alinhamento vertical */
  line-height: normal; /* Garante que o texto fique alinhado com o ícone */
  font-size: 1rem;
}

.nav-logo-container .logo-link {
  display: inline-block;
  width: 11.5rem;
  aspect-ratio: 1 / 0.41;
}

.nav-logo-container .logo {
  width: 100%;
  height: 100%;
}
