<mat-card class="dp-card">
  <mat-card-title>Nova Entidade</mat-card-title>
  <form class="dp-form" #entidadesForm="ngForm">
    <mat-form-field>
      <mat-label>Entidade</mat-label>
      <input
        #nome="ngModel"
        matInput
        type="text"
        placeholder="Nome da Entidade"
        [(ngModel)]="entidades.nome"
        required
        name="nome"
      />
      <mat-error *ngIf="nome.hasError('required')"
        >É necessário preencher o nome da entidade.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endereço</mat-label>
      <input
        #endereco="ngModel"
        matInput
        type="text"
        placeholder="Endereço"
        [(ngModel)]="entidades.endereco"
        required
        name="endereco"
      />
      <mat-error *ngIf="endereco.hasError('required')"
        >É necessário preencher o endereço da entidade.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Responsável</mat-label>
      <input
        matInput
        type="text"
        placeholder="Responsável"
        [(ngModel)]="entidades.responsavel"
        name="responsavel"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input
        matInput
        type="text"
        mask="(00) 00000-0000"
        [showMaskTyped]="true"
        placeholder="Telefone"
        [(ngModel)]="entidades.telefone"
        name="telefone"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dias de Visita</mat-label>
      <mat-select
        #diasVisita="ngModel"
        placeholder="Dias de Visita"
        [(ngModel)]="entidades.diasVisita"
        required
        multiple
        name="diasVisita"
      >
        @for (dia of diasDaSemana; track dia) {
        <mat-option [value]="dia.descricao">{{ dia.descricao }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="diasVisita.hasError('required')"
        >É necessário preencher os dias de visita da entidade.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Horário de início da visita</mat-label>
      <input
        #horarioInicioVisita="ngModel"
        matInput
        type="text"
        placeholder="Horário de início da visita"
        [(ngModel)]="entidades.horarioInicioVisita"
        [matTimepicker]="horarioInicioPicker"
        required
        readonly
        name="horarioInicioVisita"
      />
      <mat-timepicker-toggle matIconSuffix [for]="horarioInicioPicker" />
      <mat-timepicker interval="15min" #horarioInicioPicker />
      <mat-error *ngIf="horarioInicioVisita.hasError('required')"
        >É necessário preencher o horário de início das visitas da
        entidade.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Horário de término da visita</mat-label>
      <input
        #horarioFimVisita="ngModel"
        matInput
        type="text"
        placeholder="Horario de término da visita"
        [(ngModel)]="entidades.horarioFimVisita"
        [matTimepicker]="horarioFimPicker"
        readonly
        required
        name="horarioFimVisita"
      />
      <mat-timepicker-toggle matIconSuffix [for]="horarioFimPicker" />
      <mat-timepicker interval="15min" #horarioFimPicker />
      <mat-error *ngIf="horarioFimVisita.hasError('required')"
        >É necessário preencher o horário de término das visitas da
        entidade.</mat-error
      >
    </mat-form-field>
  </form>

  <div class="dp-form-acoes">
    <button
      class="dp-btn-primary"
      mat-raised-button
      [disabled]="entidadesForm.invalid"
      (click)="createEntidades()"
    >
      Salvar
    </button>

    <button id="btn-cancelar" mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </div>
</mat-card>
