<mat-card>
  <mat-card-title>Excluir Entidade</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Nome da Entidade"
        [value]="entidades.nome"
        name="nome"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Endereço"
        [value]="entidades.endereco"
        name="endereco"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Responsável"
        [value]="entidades.responsavel"
        name="responsavel"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Telefone"
        [value]="entidades.telefone | mask: '(00) 00000-0000'"
        name="telefone"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Dias de Visita"
        [value]="entidades.diasVisita"
        multiple
        disabled
        name="diasVisita"
      >
        @for (dia of diasDaSemana; track dia) {
        <mat-option [value]="dia.descricao">{{ dia.descricao }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Horário de início da visita"
        [value]="entidades.horarioInicioVisita"
        [matTimepicker]="horarioInicioPicker"
        disabled
        name="horarioInicioVisita"
      />
      <mat-timepicker-toggle matIconSuffix [for]="horarioInicioPicker" />
      <mat-timepicker interval="15min" #horarioInicioPicker />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Horario de término da visita"
        [value]="entidades.horarioFimVisita"
        [matTimepicker]="horarioFimPicker"
        disabled
        name="horarioFimVisita"
      />
      <mat-timepicker-toggle matIconSuffix [for]="horarioFimPicker" />
      <mat-timepicker interval="15min" #horarioFimPicker />
    </mat-form-field>
    
  </form>

  <div>
    <button mat-raised-button (click)="deleteEntidades()" color="warn">
      Excluir
    </button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
