<mat-card class="dp-card">
  <mat-card-title>Excluir Entidade</mat-card-title>
  <form class="dp-form">
    <mat-form-field>
      <mat-label>Entidade</mat-label>
      <input
        matInput
        type="text"
        placeholder="Nome da Entidade"
        [value]="entidades.nome"
        name="nome"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endereço</mat-label>
      <input
        matInput
        type="text"
        placeholder="Endereço"
        [value]="entidades.endereco"
        name="endereco"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Responsável</mat-label>
      <input
        matInput
        type="text"
        placeholder="Responsável"
        [value]="entidades.responsavel"
        name="responsavel"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input
        matInput
        type="text"
        placeholder="Telefone"
        [value]="entidades.telefone | mask : '(00) 00000-0000'"
        name="telefone"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dias de Visita</mat-label>
      <mat-select
        placeholder="Dias de Visita"
        [value]="entidades.diasVisita"
        multiple
        disabled
        name="diasVisita"
      >
        @for (dia of diasDaSemana; track dia) {
        <mat-option [value]="dia.descricao">{{ dia.descricao }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Horário de início da visita</mat-label>
      <input
        matInput
        placeholder="Horário de início da visita"
        [value]="entidades.horarioInicioVisita"
        [matTimepicker]="horarioInicioPicker"
        disabled
        name="horarioInicioVisita"
      />
      <mat-timepicker-toggle matIconSuffix [for]="horarioInicioPicker" />
      <mat-timepicker interval="15min" #horarioInicioPicker />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Horário de término da visita</mat-label>
      <input
        matInput
        placeholder="Horario de término da visita"
        [value]="entidades.horarioFimVisita"
        [matTimepicker]="horarioFimPicker"
        disabled
        name="horarioFimVisita"
      />
      <mat-timepicker-toggle matIconSuffix [for]="horarioFimPicker" />
      <mat-timepicker interval="15min" #horarioFimPicker />
    </mat-form-field>
  </form>

  <div class="dp-form-acoes">
    <button class="dp-btn-alert" mat-raised-button (click)="deleteEntidades()">
      Excluir
    </button>

    <button id="btn-cancelar" mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </div>
</mat-card>
